# every day at 08:00. more info at https://crontab.guru
*/2 * * * * /usr/local/bin/python3 /app/worker/worker_main.py > /proc/1/fd/1 2>/proc/1/fd/2
# 0 8 * * * /usr/local/bin/python3 /app/worker/worker_main.py > /proc/1/fd/1 2>/proc/1/fd/2
#